# Win installer
installer/acm.jar
installer/lib
installer/jre

# Frontend
frontend/dist
frontend/node_modules
yarn-debug.log*
yarn-error.log*

# Lambas
__pycache__
lambda/package
lambda/output
lambda/env.local.bash
lambda/partial.zip

# Proxy
proxy/resolver

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.suiteEnv/
output
partial.zip
python/
