@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@use './a11y';
@use './transition';

.whitespace-nowrap {
  white-space: nowrap;
}

table thead th {
  white-space: nowrap;
  @apply px-4 py-2 text-amplio-green border-b;
}

// For vue-multiselect
.multiselect__tags .multiselect__placeholder {
  @apply text-label;
}
/*
.text-blue-hover-hunder {
  @apply text-blue;
  @apply font-semibold;
  @apply cursor-pointer;
}

.text-blue-hover-hunder:hover {
  @apply underline;
}
*/
.moving-item {
  @apply opacity-50 bg-gray-400 rounded border border-2 border-blue;
}

.icon-zoom-xl:hover svg {
  @apply text-xl;
}

.mandatory-field::before {
  @apply text-2xl font-bold text-red-500;
  content: '*';
}
