@tailwind base;

@tailwind components;

.visually_hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.focus-dashed:focus {
  outline: 3px dashed;
}

// Use on step 2 and 3
.s:focus img,
.s:hover img {
  opacity: 0.25;
}

@tailwind utilities;
