/*
.btn {
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid gray;
  border-radius: 6px;
  margin-left: 1em;
  margin-right: 1em;
  height: 50%;
  margin-top: 6px;
  color: #444;
  font-size: 1rem;
}
.btn:hover {
  background: #f0f7ff;
  color: #111;
}
.btn:active {
  background: #e0e7f0;
  color: #111;
}
.btn:disabled {
  background:#fff;
  color: #bbb;
}
.btn-blue {
  background: lightblue;
  color: black;
}
.btn-blue:hover {
  background: darkblue;
  color: white;
}
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.outline-box {
  @apply rounded border border-solid border-gray-500 px-1 font-semibold;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}